<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-info my-5">
                <div class="card-body">
                    <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
                    <ul class="text-center list-inline py-3">
                        <li class="list-inline-item">
                            <a routerLink="/addsong" class="btn btn-dark">Add Song</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/addplaylist" class="btn btn-dark">Create Playlist</a>
                        </li>

                        <li class="list-inline-item">
                            <a routerLink="/displayplaylist" class="btn btn-dark">Display Playlist</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>