<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">checkbox</th>
                    <th scope="col">SongID</th>
                    <th scope="col">SongName</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songs">
                    <td><input type="checkbox" id={{song.songId}} name={{song.songId}} value={{song.songId}} (change)="add($event)"></td>
                    <td>{{ song.songId }}</td>
                    <td>{{ song.songName }}</td>

                </tr>
            </tbody>

          

        </table>


       
       
       
        <div class="form-group">
                <label for="playlistname">PlayListName</label>
                <input type="text" class="form-control" id="playlistname" name="playlistname" placeholder="Enter playList name">
                <button type="submit" style="margin:10px" (click)="addPlayList()"   class="btn btn-info">Add Playlist</button>
            </div>
      
            <p>{{messge}}</p>
    </div>
</div>